@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kolker+Brush&family=Montserrat:wght@500&family=Roboto+Slab&display=swap');

.font-1{
    font-family: 'Kolker Brush', cursive;
    /* font-weight: 2rem; */
}
.font-2{
    font-family: 'Berkshire Swash', cursive;
}
.font-3{
    font-family: 'Montserrat', sans-serif;
}
.font-4{
    font-family: 'Roboto Slab', serif;
}
.landing-image{
    background-image: url("../../assets/images/ev-3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.custom-center{
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 6vw;
}

.landing-btn{
    min-width: 15%;
}